:root {
  --bg-color: white;
  --ft-color: black;
}

.dark {
  --bg-color: #1a1a1a;
  --ft-color: white;
}

body {
  margin: 40px;
  background-color: var(--bg-color);
  color: var(--ft-color);
}

main {
  display: flex;
  flex-direction: column;
  width: 300px;
}